/* Add styling to body */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Style h1 headers */
h1 {
    color: #333;
    text-align: center;
    padding: 20px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Style forms */
form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
}

/* Style file input */
input[type="file"] {
    position: absolute;
    bottom: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    border: 2px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
}

/* Style submit button */
input[type="submit"] {
    display: block;
    margin: 10px auto;
    padding: 10px 30px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Style result paragraph */
p {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 18px;
}

/* Style back to home link */
a { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

/* Change link color on hover */
a:hover {
    color: #0056b3;
}

/* Style the text color */
        .positive {
            color: red;
        }
        
        .negative {
            color: green;
        }

img {
    max-width: 250px; /* Adjust the width as needed */
    display: block; /* Center the image horizontally */
    margin: 11% auto;
}


