<!DOCTYPE html>
<html>
<head>
    <title>TB Detection AI</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Your Logo">
        <!-- Other header content -->
    </header>

    <form action="/predict" method="post" enctype="multipart/form-data">
        <input type="file" name="image" accept=".jpg, .jpeg, .png">
        <input type="submit" value="Predict">
    </form>

</body>
</html>

